@function bg-color-text($bg) {
    @if ( lightness($bg) > 50 ) {
        @return #000
    } @else {
        @return #fff
    }
}


@mixin version($value) {
    -webkit-transform: $value;
    -ms-transform: $value;
    -o-transform: $value;
    transform: $value;
}


