@import "_variables" ;
@import "_functions" ;


* {
    padding: 0;
    margin: 0;
}

header {
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: $dark-color;
    color: bg-color-text($dark-color) ;
        h1 {
            font-size: $font-size;
        }
}
.section {
    padding: 1rem;
    background-color: $light-color;
        &-a {
            background-color: $primary-color;
                h1 {
                    color: bg-color-text($primary-color) ;
                    font-size: $font-size;
                    &:hover {
                        @include version(translateY(-5px))
                    }
                }
                p {
                    color: rgb(232, 88, 88);
                    margin: 1rem 0;
                }
        }
        &-b {
            background-color: $secondary-color;
                h1 {
                    color: bg-color-text($secondary-color) ;
                    font-size: $font-size;
                    &:hover {
                        @include version(translateY(-5px))
                    }
                }
                p {
                    color: rgb(255, 255, 114);
                    margin: 1rem 0;
                } 
        }
}


%btn {
    padding: .7rem 2rem;
    border-radius: 10px;
    text-decoration: none;
    &-hover {
        color: aqua
    }
}

.btn {
    &-a {
        @extend %btn;
        background-color: $light-color;
    }
    &-b {
        @extend %btn;
        background-color: $dark-color;
    }
}
